body{
    margin: 0;
	font-size: 20px;
}

.sadrzaj{
    padding: 0 10px;
}

nav{
    position: sticky;
    top: 0;
}

nav ul{
    margin: 0;
    padding: 10px 10px;
    background-color: rgba(0,0,0,0.7);
}

nav ul li{
    display: inline-block;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    transition: all 0.3s linear;
}

nav ul li a:hover{
    color: #447AA8;
}



select{
	font-size: 16px;
	padding: 5px;
}

.razmak{
    margin-bottom: 30px;
}

table{
	min-width: 50%;
	border-collapse: collapse;
	border: 2px solid gray;
}

table th, table td{
	padding: 5px;
}

table .posljednjired{
	font-weight: bold;
	text-align: right;
}

table .posljednjistupac{
	text-align: right;
}